In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('../data/titanic.csv')

In [3]:
data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [4]:
data.drop(labels=['Name'],axis=1,inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Sex                      887 non-null    object
 3   Age                      887 non-null    float64
 4   Siblings/Spouses Aboard  887 non-null    int64
 5   Parents/Children Aboard  887 non-null    int64
 6   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.6+ KB

In [6]:
data.isnull().sum().sort_values()/len(data)

Survived                   0.0
Pclass                     0.0
Sex                        0.0
Age                        0.0
Siblings/Spouses Aboard    0.0
Parents/Children Aboard    0.0
Fare                       0.0
dtype: float64

In [7]:
Fare_mean=data['Fare'].mean()

In [8]:
Age_mean=data['Age'].mean()

In [9]:
data['Fare'].fillna(Fare_mean,inplace=True)

In [10]:
data['Age'].fillna(Age_mean,inplace=True)

In [11]:
data.isnull().sum().sort_values()/len(data)

Survived                   0.0
Pclass                     0.0
Sex                        0.0
Age                        0.0
Siblings/Spouses Aboard    0.0
Parents/Children Aboard    0.0
Fare                       0.0
dtype: float64

In [12]:
data_obj=data.select_dtypes(include=object)
data_num=data.select_dtypes(exclude=object)

In [13]:
data_obj=pd.get_dummies(data_obj,drop_first=True)

In [14]:
data_obj

     Sex_male
0           1
1           0
2           0
3           0
4           1
..        ...
882         1
883         0
884         0
885         1
886         1

[887 rows x 1 columns]

In [15]:
f_data=pd.concat([data_obj,data_num],axis=1)

In [16]:
f_data

,Sex_male,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,0,3,22.0,1,0,7.2500
1,0,1,1,38.0,1,0,71.2833
2,0,1,3,26.0,0,0,7.9250
3,0,1,1,35.0,1,0,53.1000
4,1,0,3,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,1,0,2,27.0,0,0,13.0000
883,0,1,1,19.0,0,0,30.0000
884,0,0,3,7.0,1,2,23.4500
885,1,1,1,26.0,0,0,30.0000
886,1,0,3,32.0,0,0,7.7500

In [17]:
train = f_data.iloc[:700,:]
test = f_data.iloc[700:,:]

In [18]:
train

,Sex_male,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,0,3,22.0,1,0,7.2500
1,0,1,1,38.0,1,0,71.2833
2,0,1,3,26.0,0,0,7.9250
3,0,1,1,35.0,1,0,53.1000
4,1,0,3,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
695,1,0,1,49.0,1,1,110.8833
696,1,0,3,42.0,0,0,7.6500
697,0,1,1,18.0,1,0,227.5250
698,1,1,1,35.0,0,0,26.2875
699,0,0,3,18.0,0,1,14.4542

In [19]:
test

,Sex_male,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
700,1,0,3,25.0,0,0,7.7417
701,1,0,3,26.0,1,0,7.8542
702,1,0,2,39.0,0,0,26.0000
703,0,1,2,45.0,0,0,13.5000
704,1,1,1,42.0,0,0,26.2875
...,...,...,...,...,...,...,...
882,1,0,2,27.0,0,0,13.0000
883,0,1,1,19.0,0,0,30.0000
884,0,0,3,7.0,1,2,23.4500
885,1,1,1,26.0,0,0,30.0000
886,1,0,3,32.0,0,0,7.7500

In [39]:
X_train=train.drop(labels='Survived',axis=1)
X_train=train.drop(labels='Fare',axis=1)
X_train=train.drop(labels='Siblings/Spouses Aboard',axis=1)
X_train=train.drop(labels='Parents/Children Aboard',axis=1)

y_train=train['Survived']
X_train=train.drop(columns=['Survived', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare'], axis=1)


X_test=test.drop(labels='Survived',axis=1)
X_test=train.drop(labels='Fare',axis=1)
X_test=train.drop(labels='Siblings/Spouses Aboard',axis=1)
X_test=train.drop(labels='Parents/Children Aboard',axis=1)

pd.to_numeric(X_train['Age'], downcast='integer')

X_train['Age'].astype(int),X_test['Age'].astype(int)
display(X_train.dtypes)

Sex_male      uint8
Pclass        int64
Age         float64
dtype: object

In [41]:
X_train

array([[1.        , 1.        , 0.2681388 ],
       [0.        , 0.        , 0.47003155],
       [0.        , 1.        , 0.31861199],
       ...,
       [0.        , 0.        , 0.21766562],
       [1.        , 0.        , 0.43217666],
       [0.        , 1.        , 0.21766562]])

In [42]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
#X_test=scaler.transform(X_test)

In [43]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(X_train,y_train)
#y_pred=logmodel.predict(X_test)
#y_pred.reshape(187,1)

LogisticRegression()

In [29]:
features = np.array([[1, 2,3,4,5,6]])
y_pred1=logmodel.predict(features)
print(features)
print(y_pred1)

[[1 2 3 4 5 6]]
[0]

In [44]:
import pickle
filename = '../model/finalized_model.pkl'
pickle.dump(logmodel, open(filename, 'wb'))